<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!--[if lt IE 9]>
        <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
      <![endif]-->
  <!-- 导入bootstrap css -->

  <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">

  <!-- 导入自己的css文件 -->
  <link rel="stylesheet" href="../static/css/babynames.css">
  <script src="../static/js/jquery-3.4.1.min.js"></script>
  <script src="../static/echarts/echarts.min.js"></script>
  <title>Document</title>
</head>

<body>

  <div class="jumbotron text-center">
    <h1>电影推荐平台</h1>
    <!-- <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p> -->
  </div>
  <div class="container">
    <ul class="nav nav-tabs">
      <li role="presentation"><a href="/babynames_1">实验1</a></li>
      <li role="presentation" class="active"><a href="/MovieRecommend_1">实验2</a></li>
      <li role="presentation"><a href="/">回到主页</a></li>
    </ul>
    <br>
    <div class="row">
      <div class="col-md-3">
        <ul class="nav nav-pills nav-stacked">
          <li class="active"><a href="/MovieRecommend_1">为您推荐电影</a></li>
        </ul>
        <hr class="hidden-sm hidden-md hidden-lg">
      </div>
      <div class="col-md-9">
        <h4>为您选择了评价最多的24部电影，请您为电影打分(0~5分，没看过的不用打分)，然后我们可以为您推荐电影</h4>
        <form method="post" id="fm">
        {% csrf_token %}
        <img src="../static/img/2858.png" class="img-rounded" height="192" width="130">
        &nbsp;美国丽人 American Beauty (1999)&nbsp;
        <label class="radio-inline">
            <input type="radio" name="2858" id="inlineRadio1" value="1"> 1
        </label>
        <label class="radio-inline">
            <input type="radio" name="2858" id="inlineRadio2" value="2"> 2
        </label>
        <label class="radio-inline">
            <input type="radio" name="2858" id="inlineRadio3" value="3"> 3
        </label>
        <label class="radio-inline">
            <input type="radio" name="2858" id="inlineRadio3" value="4"> 4
        </label>
        <label class="radio-inline">
            <input type="radio" name="2858" id="inlineRadio3" value="5"> 5
        </label>
        <label class="radio-inline">
            <input type="radio" name="2858" id="inlineRadio3" value="null"> 不评分
        </label>

        <br>
        <br>
        <img src="../static/img/260.png" class="img-rounded" height="192" width="130">
        &nbsp;星球大战 Star Wars (1977)&nbsp;
        <label class="radio-inline">
            <input type="radio" name="260" id="inlineRadio1" value="1"> 1
        </label>
        <label class="radio-inline">
            <input type="radio" name="260" id="inlineRadio2" value="2"> 2
        </label>
        <label class="radio-inline">
            <input type="radio" name="260" id="inlineRadio3" value="3"> 3
        </label>
        <label class="radio-inline">
            <input type="radio" name="260" id="inlineRadio3" value="4"> 4
        </label>
        <label class="radio-inline">
            <input type="radio" name="260" id="inlineRadio3" value="5"> 5
        </label>
        <label class="radio-inline">
            <input type="radio" name="260" id="inlineRadio3" value="null"> 不评分
        </label>

        <br>
        <br>
        <img src="../static/img/1196.png" class="img-rounded" height="192" width="130">
        &nbsp;星球大战2：帝国反击战(1980)&nbsp;
        <label class="radio-inline">
            <input type="radio" name="1196" id="inlineRadio1" value="1"> 1
        </label>
        <label class="radio-inline">
            <input type="radio" name="1196" id="inlineRadio2" value="2"> 2
        </label>
        <label class="radio-inline">
            <input type="radio" name="1196" id="inlineRadio3" value="3"> 3
        </label>
        <label class="radio-inline">
            <input type="radio" name="1196" id="inlineRadio3" value="4"> 4
        </label>
        <label class="radio-inline">
            <input type="radio" name="1196" id="inlineRadio3" value="5"> 5
        </label>
        <label class="radio-inline">
            <input type="radio" name="1196" id="inlineRadio3" value="null"> 不评分
        </label>

        <br>
        <br>
        <img src="../static/img/1210.png" class="img-rounded" height="192" width="130">
        &nbsp;星球大战3：绝地归来(1983)&nbsp;
        <label class="radio-inline">
            <input type="radio" name="1210" id="inlineRadio1" value="1"> 1
        </label>
        <label class="radio-inline">
            <input type="radio" name="1210" id="inlineRadio2" value="2"> 2
        </label>
        <label class="radio-inline">
            <input type="radio" name="1210" id="inlineRadio3" value="3"> 3
        </label>
        <label class="radio-inline">
            <input type="radio" name="1210" id="inlineRadio3" value="4"> 4
        </label>
        <label class="radio-inline">
            <input type="radio" name="1210" id="inlineRadio3" value="5"> 5
        </label>
        <label class="radio-inline">
            <input type="radio" name="1210" id="inlineRadio3" value="null"> 不评分
        </label>

        <br>
        <br>
        <img src="../static/img/480.png" class="img-rounded" height="192" width="130">
        &nbsp;侏罗纪公园 Jurassic Park (1993)&nbsp;
        <label class="radio-inline">
            <input type="radio" name="480" id="inlineRadio1" value="1"> 1
        </label>
        <label class="radio-inline">
            <input type="radio" name="480" id="inlineRadio2" value="2"> 2
        </label>
        <label class="radio-inline">
            <input type="radio" name="480" id="inlineRadio3" value="3"> 3
        </label>
        <label class="radio-inline">
            <input type="radio" name="480" id="inlineRadio3" value="4"> 4
        </label>
        <label class="radio-inline">
            <input type="radio" name="480" id="inlineRadio3" value="5"> 5
        </label>
        <label class="radio-inline">
            <input type="radio" name="480" id="inlineRadio3" value="null"> 不评分
        </label>

        <br>
        <br>
        <img src="../static/img/2028.png" class="img-rounded" height="192" width="130">
        &nbsp;拯救大兵瑞恩 Saving Private Ryan (1998)&nbsp;
        <label class="radio-inline">
            <input type="radio" name="2028" id="inlineRadio1" value="1"> 1
        </label>
        <label class="radio-inline">
            <input type="radio" name="2028" id="inlineRadio2" value="2"> 2
        </label>
        <label class="radio-inline">
            <input type="radio" name="2028" id="inlineRadio3" value="3"> 3
        </label>
        <label class="radio-inline">
            <input type="radio" name="2028" id="inlineRadio3" value="4"> 4
        </label>
        <label class="radio-inline">
            <input type="radio" name="2028" id="inlineRadio3" value="5"> 5
        </label>
        <label class="radio-inline">
            <input type="radio" name="2028" id="inlineRadio3" value="null"> 不评分
        </label>

        
        <br>
        <br>
        <img src="../static/img/589.png" class="img-rounded" height="192" width="130">
        &nbsp;终结者2：审判日 Terminator 2: Judgment Day (1991)&nbsp;
        <label class="radio-inline">
            <input type="radio" name="589" id="inlineRadio1" value="1"> 1
        </label>
        <label class="radio-inline">
            <input type="radio" name="589" id="inlineRadio2" value="2"> 2
        </label>
        <label class="radio-inline">
            <input type="radio" name="589" id="inlineRadio3" value="3"> 3
        </label>
        <label class="radio-inline">
            <input type="radio" name="589" id="inlineRadio3" value="4"> 4
        </label>
        <label class="radio-inline">
            <input type="radio" name="589" id="inlineRadio3" value="5"> 5
        </label>
        <label class="radio-inline">
            <input type="radio" name="589" id="inlineRadio3" value="null"> 不评分
        </label>

        <br>
        <br>
        <img src="../static/img/2571.png" class="img-rounded" height="192" width="130">
        &nbsp;黑客帝国 The Matrix (1999)&nbsp;
        <label class="radio-inline">
            <input type="radio" name="2571" id="inlineRadio1" value="1"> 1
        </label>
        <label class="radio-inline">
            <input type="radio" name="2571" id="inlineRadio2" value="2"> 2
        </label>
        <label class="radio-inline">
            <input type="radio" name="2571" id="inlineRadio3" value="3"> 3
        </label>
        <label class="radio-inline">
            <input type="radio" name="2571" id="inlineRadio3" value="4"> 4
        </label>
        <label class="radio-inline">
            <input type="radio" name="2571" id="inlineRadio3" value="5"> 5
        </label>
        <label class="radio-inline">
            <input type="radio" name="2571" id="inlineRadio3" value="null"> 不评分
        </label>

        <br>
        <br>
        <img src="../static/img/1270.png" class="img-rounded" height="192" width="130">
        &nbsp;回到未来 Back to the Future (1985)&nbsp;
        <label class="radio-inline">
            <input type="radio" name="1270" id="inlineRadio1" value="1"> 1
        </label>
        <label class="radio-inline">
            <input type="radio" name="1270" id="inlineRadio2" value="2"> 2
        </label>
        <label class="radio-inline">
            <input type="radio" name="1270" id="inlineRadio3" value="3"> 3
        </label>
        <label class="radio-inline">
            <input type="radio" name="1270" id="inlineRadio3" value="4"> 4
        </label>
        <label class="radio-inline">
            <input type="radio" name="1270" id="inlineRadio3" value="5"> 5
        </label>
        <label class="radio-inline">
            <input type="radio" name="1270" id="inlineRadio3" value="null"> 不评分
        </label>

        <br>
        <br>
        <img src="../static/img/593.png" class="img-rounded" height="192" width="130">
        &nbsp;沉默的羔羊 The Silence of the Lambs (1991)&nbsp;
        <label class="radio-inline">
            <input type="radio" name="593" id="inlineRadio1" value="1"> 1
        </label>
        <label class="radio-inline">
            <input type="radio" name="593" id="inlineRadio2" value="2"> 2
        </label>
        <label class="radio-inline">
            <input type="radio" name="593" id="inlineRadio3" value="3"> 3
        </label>
        <label class="radio-inline">
            <input type="radio" name="593" id="inlineRadio3" value="4"> 4
        </label>
        <label class="radio-inline">
            <input type="radio" name="593" id="inlineRadio3" value="5"> 5
        </label>
        <label class="radio-inline">
            <input type="radio" name="593" id="inlineRadio3" value="null"> 不评分
        </label>

        <br>
        <br>
        <img src="../static/img/1580.png" class="img-rounded" height="192" width="130">
        &nbsp;黑衣人 Men in Black (1997)&nbsp;
        <label class="radio-inline">
            <input type="radio" name="1580" id="inlineRadio1" value="1"> 1
        </label>
        <label class="radio-inline">
            <input type="radio" name="1580" id="inlineRadio2" value="2"> 2
        </label>
        <label class="radio-inline">
            <input type="radio" name="1580" id="inlineRadio3" value="3"> 3
        </label>
        <label class="radio-inline">
            <input type="radio" name="1580" id="inlineRadio3" value="4"> 4
        </label>
        <label class="radio-inline">
            <input type="radio" name="1580" id="inlineRadio3" value="5"> 5
        </label>
        <label class="radio-inline">
            <input type="radio" name="1580" id="inlineRadio3" value="null"> 不评分
        </label>

        <br>
        <br>
        <img src="../static/img/1198.png" class="img-rounded" height="192" width="130">
        &nbsp;夺宝奇兵 Raiders of the Lost Ark (1981)&nbsp;
        <label class="radio-inline">
            <input type="radio" name="1198" id="inlineRadio1" value="1"> 1
        </label>
        <label class="radio-inline">
            <input type="radio" name="1198" id="inlineRadio2" value="2"> 2
        </label>
        <label class="radio-inline">
            <input type="radio" name="1198" id="inlineRadio3" value="3"> 3
        </label>
        <label class="radio-inline">
            <input type="radio" name="1198" id="inlineRadio3" value="4"> 4
        </label>
        <label class="radio-inline">
            <input type="radio" name="1198" id="inlineRadio3" value="5"> 5
        </label>
        <label class="radio-inline">
            <input type="radio" name="1198" id="inlineRadio3" value="null"> 不评分
        </label>

        <br>
        <br>
        <img src="../static/img/608.png" class="img-rounded" height="192" width="130">
        &nbsp;冰血暴 Fargo (1996)&nbsp;
        <label class="radio-inline">
            <input type="radio" name="608" id="inlineRadio1" value="1"> 1
        </label>
        <label class="radio-inline">
            <input type="radio" name="608" id="inlineRadio2" value="2"> 2
        </label>
        <label class="radio-inline">
            <input type="radio" name="608" id="inlineRadio3" value="3"> 3
        </label>
        <label class="radio-inline">
            <input type="radio" name="608" id="inlineRadio3" value="4"> 4
        </label>
        <label class="radio-inline">
            <input type="radio" name="608" id="inlineRadio3" value="5"> 5
        </label>
        <label class="radio-inline">
            <input type="radio" name="608" id="inlineRadio3" value="null"> 不评分
        </label>

        <br>
        <br>
        <img src="../static/img/2762.png" class="img-rounded" height="192" width="130">
        &nbsp;第六感 The Sixth Sense (1999)&nbsp;
        <label class="radio-inline">
            <input type="radio" name="2762" id="inlineRadio1" value="1"> 1
        </label>
        <label class="radio-inline">
            <input type="radio" name="2762" id="inlineRadio2" value="2"> 2
        </label>
        <label class="radio-inline">
            <input type="radio" name="2762" id="inlineRadio3" value="3"> 3
        </label>
        <label class="radio-inline">
            <input type="radio" name="2762" id="inlineRadio3" value="4"> 4
        </label>
        <label class="radio-inline">
            <input type="radio" name="2762" id="inlineRadio3" value="5"> 5
        </label>
        <label class="radio-inline">
            <input type="radio" name="2762" id="inlineRadio3" value="null"> 不评分
        </label>

        
        <br>
        <br>
        <img src="../static/img/110.png" class="img-rounded" height="192" width="130">
        &nbsp;勇敢的心 Braveheart (1995)&nbsp;
        <label class="radio-inline">
            <input type="radio" name="110" id="inlineRadio1" value="1"> 1
        </label>
        <label class="radio-inline">
            <input type="radio" name="110" id="inlineRadio2" value="2"> 2
        </label>
        <label class="radio-inline">
            <input type="radio" name="110" id="inlineRadio3" value="3"> 3
        </label>
        <label class="radio-inline">
            <input type="radio" name="110" id="inlineRadio3" value="4"> 4
        </label>
        <label class="radio-inline">
            <input type="radio" name="110" id="inlineRadio3" value="5"> 5
        </label>
        <label class="radio-inline">
            <input type="radio" name="110" id="inlineRadio3" value="null"> 不评分
        </label>

        <br>
        <br>
        <img src="../static/img/2396.png" class="img-rounded" height="192" width="130">
        &nbsp;莎翁情史 Shakespeare in Love (1998)&nbsp;
        <label class="radio-inline">
            <input type="radio" name="2396" id="inlineRadio1" value="1"> 1
        </label>
        <label class="radio-inline">
            <input type="radio" name="2396" id="inlineRadio2" value="2"> 2
        </label>
        <label class="radio-inline">
            <input type="radio" name="2396" id="inlineRadio3" value="3"> 3
        </label>
        <label class="radio-inline">
            <input type="radio" name="2396" id="inlineRadio3" value="4"> 4
        </label>
        <label class="radio-inline">
            <input type="radio" name="2396" id="inlineRadio3" value="5"> 5
        </label>
        <label class="radio-inline">
            <input type="radio" name="2396" id="inlineRadio3" value="null"> 不评分
        </label>


        <br>
        <br>
        <img src="../static/img/527.png" class="img-rounded" height="192" width="130">
        &nbsp;辛德勒的名单 Schindler's List (1993)&nbsp;
        <label class="radio-inline">
            <input type="radio" name="527" id="inlineRadio1" value="1"> 1
        </label>
        <label class="radio-inline">
            <input type="radio" name="527" id="inlineRadio2" value="2"> 2
        </label>
        <label class="radio-inline">
            <input type="radio" name="527" id="inlineRadio3" value="3"> 3
        </label>
        <label class="radio-inline">
            <input type="radio" name="527" id="inlineRadio3" value="4"> 4
        </label>
        <label class="radio-inline">
            <input type="radio" name="527" id="inlineRadio3" value="5"> 5
        </label>
        <label class="radio-inline">
            <input type="radio" name="527" id="inlineRadio3" value="null"> 不评分
        </label>

        <br>
        <br>
        <img src="../static/img/1617.png" class="img-rounded" height="192" width="130">
        &nbsp;洛城机密 L.A. Confidential (1997)&nbsp;
        <label class="radio-inline">
            <input type="radio" name="1617" id="inlineRadio1" value="1"> 1
        </label>
        <label class="radio-inline">
            <input type="radio" name="1617" id="inlineRadio2" value="2"> 2
        </label>
        <label class="radio-inline">
            <input type="radio" name="1617" id="inlineRadio3" value="3"> 3
        </label>
        <label class="radio-inline">
            <input type="radio" name="1617" id="inlineRadio3" value="4"> 4
        </label>
        <label class="radio-inline">
            <input type="radio" name="1617" id="inlineRadio3" value="5"> 5
        </label>
        <label class="radio-inline">
            <input type="radio" name="1617" id="inlineRadio3" value="null"> 不评分
        </label>

        
        <br>
        <br>
        <img src="../static/img/1265.png" class="img-rounded" height="192" width="130">
        &nbsp;土拨鼠之日 Groundhog Day (1993)&nbsp;
        <label class="radio-inline">
            <input type="radio" name="1265" id="inlineRadio1" value="1"> 1
        </label>
        <label class="radio-inline">
            <input type="radio" name="1265" id="inlineRadio2" value="2"> 2
        </label>
        <label class="radio-inline">
            <input type="radio" name="1265" id="inlineRadio3" value="3"> 3
        </label>
        <label class="radio-inline">
            <input type="radio" name="1265" id="inlineRadio3" value="4"> 4
        </label>
        <label class="radio-inline">
            <input type="radio" name="1265" id="inlineRadio3" value="5"> 5
        </label>
        <label class="radio-inline">
            <input type="radio" name="1265" id="inlineRadio3" value="null"> 不评分
        </label>

        <br>
        <br>
        <img src="../static/img/1097.png" class="img-rounded" height="192" width="130">
        &nbsp;E.T. 外星人 E.T.: The Extra-Terrestrial (1982)&nbsp;
        <label class="radio-inline">
            <input type="radio" name="1097" id="inlineRadio1" value="1"> 1
        </label>
        <label class="radio-inline">
            <input type="radio" name="1097" id="inlineRadio2" value="2"> 2
        </label>
        <label class="radio-inline">
            <input type="radio" name="1097" id="inlineRadio3" value="3"> 3
        </label>
        <label class="radio-inline">
            <input type="radio" name="1097" id="inlineRadio3" value="4"> 4
        </label>
        <label class="radio-inline">
            <input type="radio" name="1097" id="inlineRadio3" value="5"> 5
        </label>
        <label class="radio-inline">
            <input type="radio" name="1097" id="inlineRadio3" value="null"> 不评分
        </label>

        
        <br>
        <br>
        <img src="../static/img/318.png" class="img-rounded" height="192" width="130">
        &nbsp;肖申克的救赎 The Shawshank Redemption (1994)&nbsp;
        <label class="radio-inline">
            <input type="radio" name="318" id="inlineRadio1" value="1"> 1
        </label>
        <label class="radio-inline">
            <input type="radio" name="318" id="inlineRadio2" value="2"> 2
        </label>
        <label class="radio-inline">
            <input type="radio" name="318" id="inlineRadio3" value="3"> 3
        </label>
        <label class="radio-inline">
            <input type="radio" name="318" id="inlineRadio3" value="4"> 4
        </label>
        <label class="radio-inline">
            <input type="radio" name="318" id="inlineRadio3" value="5"> 5
        </label>
        <label class="radio-inline">
            <input type="radio" name="318" id="inlineRadio3" value="null"> 不评分
        </label>


        <br>
        <br>
        <img src="../static/img/858.png" class="img-rounded" height="192" width="130">
        &nbsp;教父 The Godfather (1972)&nbsp;
        <label class="radio-inline">
            <input type="radio" name="858" id="inlineRadio1" value="1"> 1
        </label>
        <label class="radio-inline">
            <input type="radio" name="858" id="inlineRadio2" value="2"> 2
        </label>
        <label class="radio-inline">
            <input type="radio" name="858" id="inlineRadio3" value="3"> 3
        </label>
        <label class="radio-inline">
            <input type="radio" name="858" id="inlineRadio3" value="4"> 4
        </label>
        <label class="radio-inline">
            <input type="radio" name="858" id="inlineRadio3" value="5"> 5
        </label>
        <label class="radio-inline">
            <input type="radio" name="858" id="inlineRadio3" value="null"> 不评分
        </label>

        
        <br>
        <br>
        <img src="../static/img/356.png" class="img-rounded" height="192" width="130">
        &nbsp;阿甘正传 Forrest Gump (1994)&nbsp;
        <label class="radio-inline">
            <input type="radio" name="356" id="inlineRadio1" value="1"> 1
        </label>
        <label class="radio-inline">
            <input type="radio" name="356" id="inlineRadio2" value="2"> 2
        </label>
        <label class="radio-inline">
            <input type="radio" name="356" id="inlineRadio3" value="3"> 3
        </label>
        <label class="radio-inline">
            <input type="radio" name="356" id="inlineRadio3" value="4"> 4
        </label>
        <label class="radio-inline">
            <input type="radio" name="356" id="inlineRadio3" value="5"> 5
        </label>
        <label class="radio-inline">
            <input type="radio" name="356" id="inlineRadio3" value="null"> 不评分
        </label>

        <br>
        <br>
        <img src="../static/img/296.png" class="img-rounded" height="192" width="130">
        &nbsp;低俗小说 Pulp Fiction (1994)&nbsp;
        <label class="radio-inline">
            <input type="radio" name="296" id="inlineRadio1" value="1"> 1
        </label>
        <label class="radio-inline">
            <input type="radio" name="296" id="inlineRadio2" value="2"> 2
        </label>
        <label class="radio-inline">
            <input type="radio" name="296" id="inlineRadio3" value="3"> 3
        </label>
        <label class="radio-inline">
            <input type="radio" name="296" id="inlineRadio3" value="4"> 4
        </label>
        <label class="radio-inline">
            <input type="radio" name="296" id="inlineRadio3" value="5"> 5
        </label>
        <label class="radio-inline">
            <input type="radio" name="296" id="inlineRadio3" value="null"> 不评分
        </label>



        <br>
        <br>
        <button type="input" class="btn btn-default" id="submit">Submit</button>   <!--这里的type要改为button 不然会提交两次 之前写的是input-->
        </form>
     
        
      </div>
    </div>
  </div>

  <div class="jumbotron text-center" style="margin-bottom:0">
    <p>written by ljh 20174302</p>
    <p>{{dic.name}}</p>
    <p>{{dic.year}}</p>
  </div>
</body>

</html>